<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
<head>
<title>Calisto</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/foundation.min.css">
<link rel="stylesheet" href="../css/superfish.css">
<link rel="stylesheet" href="../css/stylesheet.css">
<link rel="stylesheet" href="../js/slider/flexslider.css">
<link rel="stylesheet" href="../js/slider/flexcar.css">
<script src="../js/vendor/custom.modernizr.js"></script>
<script>
Modernizr.load({
    // test if browser understands media queries
    test: Modernizr.mq('only all'),
    // if not load ie8-grid
    nope: 'css/ie8-grid-foundation-4.css'
});
</script>
<!--[if lt IE 9]>
<link rel="stylesheet" href="css/ie-fixes.css">
<![endif]-->
</head>

<body>
	<div class="header"></div>

	<div class="tagline"></div>

	<div class="service-box"></div>

	<div class="front-testimonial"></div>

	<div class="footer"></div>

	<script src="../js/function.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/hoverIntent.js"></script>
	<script src="../js/superfish.js"></script>
	<script src="../js/slider/jquery.flexslider.js"></script>
</body>

</html>